In [1]:
import numpy as np
import scipy as sp
import pandas as pd

In [2]:
from sklearn import linear_model

In [3]:
data_por = pd.read_csv(student-por.csv)

NameError: name 'student' is not defined

In [4]:
pwd

'C:\\Users\\y-uchiyama\\python\\202007_datascientist\\chap3'

In [5]:
data_por = pd.read_csv('student-por.csv')

In [6]:
data_por = pd.read_csv('student-por.csv', sep=';')

In [7]:
data_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [10]:
import matplotlib.pyplot as plt
import matplotlib as mpl

In [11]:
%matplotlib inline

In [12]:
%precision 3

'%.3f'

In [14]:
data_por['absences']

0      4
1      2
2      6
3      0
4      0
      ..
644    4
645    4
646    6
647    6
648    4
Name: absences, Length: 649, dtype: int64

In [15]:
data_por['G1']

0       0
1       9
2      12
3      14
4      11
       ..
644    10
645    15
646    11
647    10
648    10
Name: G1, Length: 649, dtype: int64

In [16]:
data_por['G1'].describe()

count    649.000000
mean      11.399076
std        2.745265
min        0.000000
25%       10.000000
50%       11.000000
75%       13.000000
max       19.000000
Name: G1, dtype: float64

In [17]:
data_por.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

In [18]:
#線形回帰のインスタンスを作成 Regression = 回帰
reg = linear_model.LinearRegression()

In [20]:
#説明変数
X = data_por.loc[:, ['G1']].values

In [23]:
#目的変数
Y = data_por.loc[:, ['G3']].values

In [32]:
#単回帰分析の実施
reg.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
#回帰係数a
print(reg.coef_)
#切片b
print(reg.intercept_)

[[0.973]]
[0.82]

In [36]:
#決定係数R^2
reg.score(X, Y)

0.6829156800171085